<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" prefix="og: http://ogp.me/ns#" prefix="ya: https://webmaster.yandex.ru/vocabularies/">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <title>Внедрение корпоративного портала Битрикс24</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <!---- Open Graph ----->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Внедрение корпоративного портала Битрикс24" />
  <meta property="og:description" content="Установим, настроим, объясним, обучим, кастомизируем: CRM, управление задачами и временем сотрудников" />
  <meta property="og:image" content="http://www.ru-master.ru/images/bitrix24.jpg" />
  <meta property="og:url" content="http://www.ru-master.ru/services/bitrix24/" />
  <!-- Open Graph Exit -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/main.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/blue.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/owl.carousel.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/owl.transitions.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/animate.min.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/lato.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/source-sans-pro.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/fontello.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/template_styles.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/override.css" type="text/css" rel="stylesheet" />
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>

<body>
  <div id="panel"></div>
  <!-- ============================================================= HEADER ============================================================= -->
  <header>
    <div class="navbar">
      <div class="navbar-header">
        <div class="container">
          <!-- /.social -->
          <!-- ============================================================= LOGO MOBILE ============================================================= -->
          <a class="navbar-brand" href="/"><img width="140" src="/images/logo_bitrix24.png" class="logo" alt=""></a>
          <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
          <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.navbar-header -->
      <div class="yamm">
        <div class="navbar-collapse collapse">
          <div class="container">
            <!-- ============================================================= LOGO ============================================================= -->
            <a class="navbar-brand" href="/"><img src="/images/logo_bitrix24.png" class="logo" alt="RuMaster"></a>
            <!-- ============================================================= LOGO : END ============================================================= -->
            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
            <ul class="nav navbar-nav js-nav">
              <li class="dropdown">
                <a href="#about">О Битрикс24</a>
              </li>
              <li class="dropdown">
                <a href="#price">Цены</a>
              </li>
              <li class="dropdown">
                <a href="#services">Услуги</a>
              </li>
              <li class="dropdown">
                <a href="#feeds">Портфолио</a>
              </li>
              <li class="dropdown">
                <a href="#contacts">Контакты</a>
              </li>

              <li class="dropdown"  id="nav-tel">
                <a href="tel: +73433394407"><span class="dk-blue">+7&thinsp;(343)</span>&thinsp;<span>339&thinsp;44&thinsp;07</span></a>
              </li>
            </ul>
            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.yamm -->
    </div>
    <!-- /.navbar -->
  </header>
  <!-- ============================================================= MAIN ============================================================= -->
  <main>
    <!-- ============================================================= SECTION – HERO ============================================================= -->
    <section style="background:#cfd5dc;padding-bottom:0">
      <div class="container inner-top inner-bottom-sm" style="padding-bottom:0">
        <div class="row" style="padding-bottom:0">
          <div class="col-md-10 col-sm-9 center-block text-center" style="padding-bottom:0">
            <header style=" width: 80%; margin: 0 auto;">
              <h1>Продажа и внедрение порталов Битрикс24</h1>
              <p>Все инструменты для работы компании в одном продукте «Битрикс24» — CRM и эффективность отдела продаж, управление задачами и работа проектного офиса, автоматизация бизнес-процессов и контроль времени сотрудников, совместная работа с документами и эффективные внутренние коммуникации, а так же многое другое.</p>
            </header>
            <img src="/images/bitrix24_bg.png" style="width:100%">
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – HERO : END ============================================================= -->
    <!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->
    <section id="about" class="dark-bg">
      <div class="container inner" style="padding-bottom:40px">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1>12 Инструментов эффективного управления компанией</h1>
              <p>Преимущества работы в Битрикс24 за 2 минуты</p>
            </header>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-12 center-block inner-top-sm">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/r_HqZZlLI-g" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->
    <div style="background-color: #f1f1f1;">
      <section id="price">
        <div class="container" style="padding:40px 0 0 0">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center" style="padding-bottom:20px">
              <header>
                <h1>Выбор лицензии Битрикс24</h1>
              </header>
            </div>
            <!-- /.col -->
          </div>
          <!-- ./row -->
        </div>
      </section>
      <section>
        <div class="container inner" style="padding-top: 20px;">

          <div class="row">
            <div class="col-sm-6 col-sm-push-6 inner-left-xs">
              <figure><img src="/images/lic.jpg" alt=""></figure>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
              <p>Какой тариф «облачного» Битрикс24 оптимален для вас? Поможем с выбором, установим и произведем первичную настройку. Определим основные сценарии использования инструментов и модулей. Для покупки «коробочной» версии Битрикс24, нажмите кнопу Заказать.</p> <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
            </div>
            <!-- /.col -->
          </div>

          <div class="row" style="display: none">
            <div class="col-sm-12">
              <table id="priceTable">
                <tbody>
                  <tr>
                    <td><div class="pr-label">Тариф</div></td>
                    <td>
                      <div class="pr-label">Тариф</div>
                      <div class="pr-label--blue">Бесплатно</div>
                    </td>
                    <td>
                      <div class="pr-label">Проект</div>
                      <div class="pr-label--blue">990 руб/мес</div>
                    </td>
                    <td>
                      <div class="pr-label">Команда</div>
                      <div class="pr-label--blue">5&thinsp;490 руб/мес</div>
                    </td>
                    <td>
                      <div class="pr-label">Компания</div>
                      <div class="pr-label--blue">10&thinsp;990 руб/мес</div>
                    </td>
                  </tr>
                  <tr>
                    <td><span class="pr-bold">Пользователи</span></td>
                    <td>неограниченно</td>
                    <td>неограниченно</td>
                    <td>неограниченно</td>
                    <td>неограниченно</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="services">
      <div class="container" style="padding:40px 0 0 0">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center" style="padding-bottom:20px">
            <header>
              <h1>Этапы внедрения Битрикс24</h1>
            </header>
          </div>
          <!-- /.col -->
        </div>
        <!-- ./row -->
      </div>
    </section>
    <!-- ============================================================= SECTION – PRODUCT ============================================================= -->
    <section id="product">
      <div class="container inner" style="padding-top: 20px;">
        <div class="row inner-top-xs">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/crm.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Внедрение CRM</h2>
            <p>Увеличьте продажи на 30-50%.
              <br />Контролируйте эффективность менеджеров и смежных подразделений.
              <br />Внедрите финансовое планирование и прогнозирование сделок.
              <br />Повысьте лояльность клиентов в 2 раза.</p> <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/ot.jpg" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Настройка отчетов</h2>
            <p>Узнайте кто из сотрудников приносит прибыль, а кто — убытки.
              <br> Управляйте прибыльностью услуг и товаров.
              <br> Получайте 100%-й контроль за деятельностью организации.
              <br> Оценивайте эффективность менеджеров, прогнозируйте доход.
              <br> Выявляйте критичные точки и мгновенно корректируйте работу.</p>
            <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/service_3.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Внедрение регулярного менеджмента</h2>
            <p>Увеличьте эффективность сотрудников на 200%.
              <br> Получайте выполнение всех ваших распоряжений.
              <br> Экономьте до 40% рабочего времени на ежедневных делах.
              <br> Избавьтесь от бесполезных сотрудников.</p>
            <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/crm_bp.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Настройка бизнес-процессов</h2>
            <p>Автоматизируйте работу всей организации.
              <br> Избавьтесь от всех рутин.
              <br> Заставьте работать компанию как «часовой механизм».</p>
            <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/1c.jpg" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Интеграция с 1С и внешними сервисами</h2>
            <p>Обмен данными с 1С.
              <br> Интеграция с интернет-магазином.
              <br> Интеграция с Google Docs, Office 356 и Microsoft Office Online.
              <br> Интеграция с One Drive, Google Drive и Dropbox.</p>
            <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/call.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Интеграция с IP-телефонией</h2>
            <p>Контролируйте телефонные переговоры сотрудников.
              <br> Звоните и принимайте звонки через Битрикс24.
              <br> Экономьте на оборудовании и монтаже.</p>
            <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/3fa1665a64ff4d6212e046181b569ed1.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Приложения, Кастомизация и Доработки.</h2>
            <p>Недостает функционала? Купите приложение на Маркете, или мы доработаем корпоративный портал для вас. Улучшайте и развивайте процессы в компании!.</p> <a data-toggle="modal" data-target="#formModal" href="#" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->
    <section id="feeds" class="light-bg">
      <div class="container inner-top">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1>Наши комплексные внедрения Битрикс24</h1>
            </header>
          </div>

          
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <div class="b-feedGallery">
              <div class="b-feedGallery__item b-feedGallery__item_2" id="bx_3160747337_29">
                <div class="b-feedGallery__item-inner">
                  <div class="b-feedGallery__item-col b-feedGallery__item-col_left">
                    <div class="b-preson">
                      <div class="b-person__img">
                        <img src="/images/9d851254d604353096947f73ad206dee.jpg" alt="Вашляев Максим">
                      </div>
                      <div class="b-person__name">Вашляев Максим</div>
                      <div class="b-person__post">генеральный директор «Армада»</div>
                    </div>
                  </div>
                  <div class="b-feedGallery__item-col b-feedGallery__item-col_right">Поразил системный подход и глубокое погружение
                    <br> в задачи бизнес подразделений. Благодаря
                    <br> «Развитие» мы смогли реализовать все самые смелые и, даже, не типичные для 1С идеи.</div>
                </div>
              </div>
              <div class="b-feedGallery__item b-feedGallery__item_2" id="bx_3160747337_29">
                <div class="b-feedGallery__item-inner">
                  <div class="b-feedGallery__item-col b-feedGallery__item-col_left">
                    <div class="b-preson">
                      <div class="b-person__img">
                        <img src="/images/9d851254d604353096947f73ad206dee.jpg" alt="Вашляев Максим">
                      </div>
                      <div class="b-person__name">Вашляев Максим</div>
                      <div class="b-person__post">генеральный директор «Армада»</div>
                    </div>
                  </div>
                  <div class="b-feedGallery__item-col b-feedGallery__item-col_right">Поразил системный подход и глубокое погружение
                    <br> в задачи бизнес подразделений. Благодаря
                    <br> «Развитие» мы смогли реализовать все самые смелые и, даже, не типичные для 1С идеи.</div>
                </div>
              </div>
              <div class="b-feedGallery__item b-feedGallery__item_2" id="bx_3160747337_29">
                <div class="b-feedGallery__item-inner">
                  <div class="b-feedGallery__item-col b-feedGallery__item-col_left">
                    <div class="b-preson">
                      <div class="b-person__img">
                        <img src="/images/9d851254d604353096947f73ad206dee.jpg" alt="Вашляев Максим">
                      </div>
                      <div class="b-person__name">Вашляев Максим</div>
                      <div class="b-person__post">генеральный директор «Армада»</div>
                    </div>
                  </div>
                  <div class="b-feedGallery__item-col b-feedGallery__item-col_right">Поразил системный подход и глубокое погружение
                    <br> в задачи бизнес подразделений. Благодаря
                    <br> «Развитие» мы смогли реализовать все самые смелые и, даже, не типичные для 1С идеи.</div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
    <section id="contacts" class="yamap">
      <div id="yamap" class="yamap__inner"></div>
    </section>
    <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
  </main>
  <!-- Modal -->
  <div class="modal modal--bitrix fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="form-front">
            <h3>Ответим на ваши вопросы в&nbsp;течении 10 минут.</h3>
            <p>Оставьте свой номер телефона.</p>
            <form action="/" method="GET" class="form js-form">
              <div class="form-group">
                <input required placeholder="Телефон*" type="tel" name="phone" class="form-control" />
              </div>
              <button type="submit" class="btn btn-default">Отправить</button>
            </form>
          </div>
          <div class="form-back">
            <h3>Ваша заявка отправлена</h3>
            <p>Ожидайте звонок!</p>
            <button type="submit" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="b-footer">
    <div class="container">
      <div class="col-sm-6">
        <div class="b-footer__logo">
          <img src="/images/footer_logo.png" alt="">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="b-header__phone i-white">
          <p class="b-header__phone-number i-bold" style="margin-top: 5px;"><span class="i-orange">8 (343)</span> 266-456-4</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ============================================================= MAIN : END ============================================================= -->
  <!-- ============================================================= FOOTER ============================================================= -->
  <!-- ============================================================= FOOTER : END ============================================================= -->
  <script src="/javascripts/html5shiv.js"></script>
  <script src="/javascripts/respond.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery.easing.1.3.min.js"></script>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/bootstrap-hover-dropdown.min.js"></script>
  <script src="/javascripts/skrollr.min.js"></script>
  <script src="/javascripts/skrollr.stylesheets.min.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/waypoints-sticky.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.isotope.min.js"></script>
  <script src="/javascripts/jquery.easytabs.min.js"></script>
  <script src="/javascripts/viewport-units-buggyfill.js"></script>
  <script src="/javascripts/scripts.js"></script>
  <script src="/javascripts/switchstylesheet.js"></script>
  <script src="/javascripts/onscroll.js"></script>
  <script src="/javascripts/webform.js"></script>
  <script src="/javascripts/jquery.maskedinput.min.js"></script>
  <script src="/javascripts/general.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?hl=ru"></script>
  <script type="text/javascript">
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Mf/xmGLr9kihxmrZVYR7bGQ6W7qNoazVoMdz1cVsemUUMVNdWc5awgefdZG3VyNkf4TR0/G6AjfzyQ/ZOai9vrCgDuoSZZUc2RhparLxu5ZGDckqarVaAh0m/ABxnEFVP81pqoCWmvksDCgfNlQfgMsCUpDHTPVmxL46yU3DPa4-';
  </script>
</body>

</html>
