<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" prefix="og: http://ogp.me/ns#" prefix="ya: https://webmaster.yandex.ru/vocabularies/">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <title>Внедрение корпоративного портала Битрикс24</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <!---- Open Graph ----->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Внедрение корпоративного портала Битрикс24" />
  <meta property="og:description" content="Установим, настроим, объясним, обучим, кастомизируем: CRM, управление задачами и временем сотрудников" />
  <meta property="og:image" content="http://www.ru-master.ru/images/bitrix24.jpg" />
  <meta property="og:url" content="http://www.ru-master.ru/services/bitrix24/" />
  <!-- Open Graph Exit -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />


  <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/main.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/blue.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/owl.carousel.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/owl.transitions.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/animate.min.css" type="text/css" rel="stylesheet" />

  <link href="/stylesheets/lato.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/source-sans-pro.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/fontello.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
  <link href="/stylesheets/template_styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div id="panel"></div>
  <!-- ============================================================= HEADER ============================================================= -->
  <header>
    <div class="navbar">
      <div class="navbar-header">
        <div class="container">
          <ul class="info pull-left">
            <li><a href="mailto:info@ru-master.ru"><i class="icon-mail-1 contact"></i> info@ru-master.ru</a></li>
            <li><i class="icon-mobile contact"></i>+7 8482 55-55-50</li>
            <li><a href="http://help.ru-master.ru/" rel="noindex" target="_blank"><i class="icon-lifebuoy contact"></i>Техподдержка</a></li>
          </ul>
          <!-- /.info -->
          <ul class="social pull-right">
            <li><a href="https://twitter.com/rumasteragency" target="_blank"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://instagram.com/rumasteragency/ " rel="publisher" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://vk.com/public60546828" target="_blank"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://www.facebook.com/RuMasterAgency" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://plus.google.com/113414395876938492081" rel="author" target="_blank"><i class="icon-s-gplus"></i></a></li>
            <li><a href="http://www.revision.ru/s/rdesign" target="_blank"><i class="fa fa-star"></i></a></li>
          </ul>
          <!-- /.social -->
          <!-- ============================================================= LOGO MOBILE ============================================================= -->
          <a class="navbar-brand" href="/"><img src="/bitrix/templates/eshop_adapt_blue/assets/images/logo.svg" class="logo" alt=""></a>
          <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
          <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.navbar-header -->
      <div class="yamm">
        <div class="navbar-collapse collapse">
          <div class="container">
            <!-- ============================================================= LOGO ============================================================= -->
            <a class="navbar-brand" href="/"><img src="/bitrix/templates/eshop_adapt_blue/assets/images/logo.svg" class="logo" alt="RuMaster"></a>
            <!-- ============================================================= LOGO : END ============================================================= -->
            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="/about/" class=" dropdown-toggle js-activated">О нас</a>
                <ul class="dropdown-menu">
                  <li><a href="/about/">Об агентстве</a></li>
                  <li><a href="/about/vacancy_rumaster/">Работа у нас</a></li>
                  <li><a href="/about/togliatti_rumaster/">Тольятти</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/portfolio/" class="no_open dropdown-toggle js-activated">Работы</a>
              </li>
              <li class="dropdown">
                <a href="/services/" class=" dropdown-toggle js-activated">Услуги</a>
                <ul class="dropdown-menu">
                  <li><a href="/services/development-1c-bitrix/">Разработка сайтов на 1С-Битрикс</a></li>
                  <li><a href="/services/support-sites/">Поддержка и сопровождение сайтов</a></li>
                  <li><a href="/services/marketing-support/">Маркетинговое сопровождение</a></li>
                  <li><a href="/services/technology/">Инновация и технологии</a></li>
                  <li><a href="/services/bitrix24/">Корпоративные порталы и CRM</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/services/bitrix24/" class="no_open dropdown-toggle js-activated">Битрикс24</a>
              </li>
              <li class="dropdown">
                <a href="/contacts/" class="no_open dropdown-toggle js-activated">Контакты</a>
              </li>
              <li class="dropdown pull-right searchbox">
                <a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>
                <div class="dropdown-menu">
                  <form id="search" class="navbar-form search" role="search">
                    <input type="search" class="form-control" placeholder="Type to search">
                    <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
                  </form>
                </div>
              </li>
            </ul>
            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.yamm -->
    </div>
    <!-- /.navbar -->
  </header>
  <!-- ============================================================= MAIN ============================================================= -->
  <main>
    <!-- ============================================================= SECTION – HERO ============================================================= -->
    <section id="services" style="background:#cfd5dc;padding-bottom:0">
      <div class="container inner-top inner-bottom-sm" style="padding-bottom:0">
        <div class="row" style="padding-bottom:0">
          <div class="col-md-10 col-sm-9 center-block text-center" style="padding-bottom:0">
            <header style=" width: 80%; margin: 0 auto;">
              <h1>Внедрение корпоративного портала Битрикс24</h1>
              <p>Все инструменты для работы компании в одном продукте «Битрикс24: Корпоративный портал» — автоматизация бизнес-процессов, контроль задач и времени сотрудников, история взаимоотношений с клиентами, эффективность отдела продаж, CRM, работа проектного офиса, эффективные внутренние коммуникации.</p>
            </header>
            <img src="/images/bitrix24_bg.png" style="width:100%">
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – HERO : END ============================================================= -->
    <!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->
    <section id="work-samples" class="dark-bg">
      <div class="container inner" style="padding-bottom:80px">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1>12 инструментов для отрыва от конкурентов</h1>
              <p>Повышаем эффективность работы компании, внедряя «Битрикс24: Корпоративный портал»!</p>
              <p>Корпоративный портал устанавливается на индивидуальный сервер, размещенный внутри компании или у хостинг-провайдера. Кроме широкого базового функционала, продукт поддерживает индивидуальные настройки бизнес-логики корпоративного портала, возможность доработки интерфейса, интеграцию с «1С:ЗУП» и многое другое.</p>
            </header>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-sm-12 center-block inner-top-sm">
            <div class="video-container">
              <iframe src="https://player.vimeo.com/video/158536927" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p><a href="https://vimeo.com/128079322">Битрикс24: Корпоративный портал</a> from <a href="https://vimeo.com/rumaster">RuMaster</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->
    <section id="blog">
      <div class="container" style="padding:80px 0 0 0">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center" style="padding-bottom:20px">
            <header>
              <h1>Этапы внедрения Битрикс24</h1>
            </header>
          </div>
          <!-- /.col -->
        </div>
        <!-- ./row -->
      </div>
    </section>
    <!-- ============================================================= SECTION – PRODUCT ============================================================= -->
    <section id="product">
      <div class="container inner" style="padding-top: 20px;">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/lic.jpg" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Лицензия Битрикс24</h2>
            <p>Подберем оптимальный для вас вариант «облака» или «коробки».
              <br> Установим и произведем первичную настройку.
              <br> Определим основные сценарии использования инструментов и модулей.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/crm.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Внедрение CRM</h2>
            <p>Увеличьте продажи на 30-50%.
              <br> Контролируйте эффективность менеджеров по продажам.
              <br> Начните вести финансовое планирование.
              <br> Повысьте лояльность клиентов в 2 раза.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/ot.jpg" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Настройка отчетов</h2>
            <p>Узнайте кто из сотрудников приносит прибыль, а кто — убытки.
              <br> Управляйте прибыльностью услуг и товаров.
              <br> Получайте 100%-й контроль за деятельностью организации.
              <br> Оценивайте эффективность менеджеров, прогнозируйте доход.
              <br> Выявляйте критичные точки и мгновенно корректируйте работу.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/service_3.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Внедрение регулярного менеджмента</h2>
            <p>Увеличьте эффективность сотрудников на 200%.
              <br> Получайте выполнение всех ваших распоряжений.
              <br> Экономьте до 40% рабочего времени на ежедневных делах.
              <br> Избавьтесь от бесполезных сотрудников.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/crm_bp.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Настройка бизнес-процессов</h2>
            <p>Автоматизируйте работу всей организации.
              <br> Избавьтесь от 2 кг макулатуры на рабочем столе.
              <br> Заставьте работать компанию как «часовой механизм».</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/1c.jpg" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Интеграция с 1С и внешними сервисами</h2>
            <p>Обмен данными с 1С.
              <br> Интеграция с интернет-магазином.
              <br> Интеграция с Google Docs, Office 356 и Microsoft Office Online.
              <br> Интеграция с One Drive, Google Drive и Dropbox.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 col-sm-push-6 inner-left-xs">
            <figure><img src="/images/call.png" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
            <h2>Интеграция с IP-телефонией</h2>
            <p>Контролируйте телефонные переговоры сотрудников.
              <br> Звоните и принимайте звонки через Битрикс24.
              <br> Экономьте на оборудовании и монтаже.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-md">
          <div class="col-sm-6 inner-right-xs text-right">
            <figure><img src="/images/api.jpg" alt=""></figure>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 inner-top-xs inner-left-xs">
            <h2>Кастомизация, доработки</h2>
            <p>Добавьте недостающий функционал в корппортал.
              <br> Улучшайте и развивайте процессы в компании.</p>
            <a href="/contacts/" class="txt-btn">Заказать</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->
    <section id="two-big-tabs" class="light-bg">
      <div class="container inner-top">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1>Наши комплексные внедрения Битрикс24</h1>
              <p>.</p>
            </header>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row inner-top-sm">
          <div class="col-xs-12">
            <div class="tabs tabs-2-big-top tab-container">
              <ul class="etabs text-center">
                <li class="tab">
                  <a href="#tab-1">
                    <h3>Бизнес-Гарант</h3>
                    <p class="text-small"> №1 в Самарской области в сфере юридических, бухгалтерских, риэлторских услуг и покупке-продаже бизнеса. Автоматизация работы 13 офисов в Самаре и Тольятти. Настройка уникальной логики работы сотрудников по 12 различным направлениям бизнеса. Внедрение IP-телефонии.</p>
                  </a>
                  <!-- /#tab-1 -->
                </li>
                <!-- /.tabs -->
                <li class="tab">
                  <a href="#tab-2">
                    <h3>Тольяттихимбанк</h3>
                    <p class="text-small">Крупнейший коммерческий банк с более чем 1000 филиалами в Самарской области. Перенос данных о 15 тыс. физичеких и юридических лиц — клиентов банка в CRM. Регламентирование работы с CRM. Настройка индивидуальных отчетов CRM и аналитики по услугам. Обучение руководителей отделов.</p>
                  </a>
                  <!-- /#tab-2 -->
                </li>
                <!-- /.tabs -->
                <li class="tab">
                  <a href="#tab-3">
                    <h3>ТГУ</h3>
                    <p class="text-small">Запуск направления дистанционного образования через Битрикс24 для Тольяттинского государственного универсистета. Настройка лидогенерации абитуриентов и обмена данными с личным кабинетом. Настройка модуля тестирования и экзаменов. Кастомизация CRM.</p>
                  </a>
                  <!-- /#tab-2 -->
                </li>
                <!-- /.tabs -->
              </ul>
              <!-- /.etabs -->
              <div class="panel-container screen-container">
                <div class="tab-content" id="tab-1">
                  <div class="row">
                    <div class="col-md-12">
                      <figure><img src="/images/bg.jpg" alt=""></figure>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.tab-content -->
                <div class="tab-content" id="tab-2">
                  <div class="row">
                    <div class="col-md-12">
                      <figure><img src="/images/thb.jpg" alt=""></figure>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.tab-content -->
                <div class="tab-content" id="tab-3">
                  <div class="row">
                    <div class="col-md-12">
                      <figure><img src="/images/tgu.jpg" alt=""></figure>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.panel-container -->
            </div>
            <!-- /.tabs -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
    <section class="dark-bg img-bg-soft img-bg" style="background-image: url(/images/about_bg4.jpg);">
      <div class="container inner">
        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center" style="opacity:1 !important;">
            <header>
              <h1>Все наши знания и опыт для решения ваших самых сложных задач</h1>
            </header>
            <a href="/contacts/" class="btn btn-big btn-white">Связаться с нами</a>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
  </main>
  <!-- ============================================================= MAIN : END ============================================================= -->
  <!-- ============================================================= FOOTER ============================================================= -->
  <footer class="dark-bg">
    <div itemscope itemtype="http://schema.org/Organization">
      <div class="container inner">
        <div class="row">
          <div class="col-md-3 col-sm-6 inner">
            <h4>Интернет-агентство</h4>
            <a href="/"><img src="/images/logo-white.svg" class="logo img-intext" alt=""></a>
            <p>Мы всегда в поиске талантливых людей. Присоединяйтесь!</p>
            <a href="/about/vacancy_rumaster/#vacancy" class="txt-btn">Наши вакансии</a>
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 inner">
            <h4>Последние работы</h4>
            <div class="row thumbs gap-xs">
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="/portfolio/justcoffee/"><img src="/images/work01.jpg" alt=""></a>
                </figure>
              </div>
              <!-- /.thumb -->
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="/portfolio/bosco/"><img src="/images/work05.jpg" alt=""></a>
                </figure>
              </div>
              <!-- /.thumb -->
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="/portfolio/zemlya-narodu/"><img src="/images/work06.jpg" alt=""></a>
                </figure>
              </div>
              <!-- /.thumb -->
              <div class="col-xs-6 thumb">
                <figure class="icon-overlay icn-link">
                  <a href="/portfolio/tomet/"><img src="/images/work08.jpg" alt=""></a>
                </figure>
              </div>
              <!-- /.thumb -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.col -->
          <span itemprop="name" style="display:none;">RuMaster</span>
          <div class="col-md-3 col-sm-6 inner" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <h4>Контакты</h4>
            <p></p>
            <ul class="contacts">
              <li><i class="icon-location contact"></i> <span itemprop="addressLocality">Тольятти</span>, <span itemprop="streetAddress">ул. Юбилейная, 1а</span> <span itemprop="postalCode" style="display:none;"> 445036</span></li>
              <li><i class="icon-mobile contact"></i> <span itemprop="telephone">+7 8482 55-55-50</span></li>
              <li><a href="mailto:info@ru-master.ru"><i class="icon-mail-1 contact"></i> <span itemprop="email">info@ru-master.ru</span></a></li>
              <li style="padding-top:30px">
                <a href="http://www.1c-bitrix.ru/composite/" target="_blank"><img src="/images/f_logo.png" alt=""></a>
              </li>
            </ul>
            <!-- /.contacts -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 inner">
            <h4>Будьте в курсе</h4>
            <p>Хотите получать специальные предложения от нас, а также анонсы обучающих мероприятий: семинаров и мастер-классов, которые мы проводим? Подпишитесь на нашу информационную рассылку:</p>
            <div id="asd_subscribe_res" style="display: none;"></div>
            <form id="asd_subscribe_form" class="form-inline newsletter" role="form" action="/services/bitrix24/" method="post">
              <input type="hidden" name="sessid" id="sessid" value="45a411de1397cd8010de456501442f4e" />
              <input type="hidden" name="asd_subscribe" value="Y" />
              <input type="hidden" name="charset" value="UTF-8" />
              <input type="hidden" name="site_id" value="s1" />
              <input type="hidden" name="asd_rubrics" value="1" />
              <input type="hidden" name="asd_show_rubrics" value="N" />
              <input type="hidden" name="asd_not_confirm" value="Y" />
              <input type="hidden" name="asd_key" value="ebcdfe8db1f7dcdb3d13d1e6c18d826c" />
              <label class="sr-only" for="exampleInputEmail">Ваш Email</label>
              <input id="exampleInputEmail" class="form-control" type="email" name="asd_email" value="" placeholder="E-mail" />
              <input type="submit" class="btn btn-default btn-submit" name="asd_submit" id="asd_subscribe_submit" value="Подписаться" />
            </form>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- .container -->
    </div>
    <div class="footer-bottom">
      <div class="container inner">
        <p class="pull-left">© 2005-2016 Интернет-агентство RuMaster</p>
        <ul class="footer-menu pull-right">
          <li><a href="/about/">О нас</a></li>
          <li><a href="/portfolio/">Работы</a></li>
          <li><a href="/services/">Услуги</a></li>
          <li><a href="/contacts/">Контакты</a></li>
        </ul>
        <!-- .footer-menu -->
      </div>
      <!-- .container -->
    </div>
    <!-- .footer-bottom -->
  </footer>
  <!-- ============================================================= FOOTER : END ============================================================= -->
  <script src="/javascripts/html5shiv.js"></script>
  <script src="/javascripts/respond.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery.easing.1.3.min.js"></script>
  <script src="/javascripts/jquery.form.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/bootstrap-hover-dropdown.min.js"></script>
  <script src="/javascripts/skrollr.min.js"></script>
  <script src="/javascripts/skrollr.stylesheets.min.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/waypoints-sticky.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.isotope.min.js"></script>
  <script src="/javascripts/jquery.easytabs.min.js"></script>
  <script src="/javascripts/viewport-units-buggyfill.js"></script>
  <script src="/javascripts/scripts.js"></script>
  <script src="/javascripts/switchstylesheet.js"></script>
  <script src="/javascripts/onscroll.js"></script>
  <script src="/javascripts/webform.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?hl=ru"></script>
  <script type="text/javascript">
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Mf/xmGLr9kihxmrZVYR7bGQ6W7qNoazVoMdz1cVsemUUMVNdWc5awgefdZG3VyNkf4TR0/G6AjfzyQ/ZOai9vrCgDuoSZZUc2RhparLxu5ZGDckqarVaAh0m/ABxnEFVP81pqoCWmvksDCgfNlQfgMsCUpDHTPVmxL46yU3DPa4-';
  </script>
</body>

</html>
