.navbar-brand img {
	max-height: 76px;
}

#contacts {
}

.yamap {
	height: 450px;
	position: relative;
}

.yamap__inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal--bitrix .modal-dialog{
	max-width: 420px;
}

.modal--bitrix .modal-content{
	background-color: #3aa1c6;
}

.modal--bitrix .modal-body{
	padding: 20px 25px;
	color: #fff;
}

.modal--bitrix .close {
	font-size: 32px;
	margin-top: -10px;
	margin-right: -10px;
	color: #fff;
	opacity: .7;
}

.modal--bitrix  h3 {
	color: #fff;
	line-height: 1.285;
	font-size: 24px;
}

.modal--bitrix .form-control {
	margin-bottom: 0;
	border-color: #2688ab
}

.modal--bitrix .form-group {
	margin-bottom: 10px;
}

.modal--bitrix .form-back {
	display: none;
	
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.b-footer {
  display: block;
  background-color: #fff;
  padding: 1.667em 0;
  font-size: 16px;
}


.b-footer__logo img{
    max-width: 200px;
}
.b-header__phone {
    text-align: right;
}

.b-header__phone-number {
    font-size: 1.667em;
    line-height: 1;
    margin-bottom: 0.167em;
    font-weight: bold;
    color: #106298;
}

.i-blue {
    color: #3aa1c6
}

.b-header__phone-info {
    font-size: 15px;
}

@media (max-width: 768px) {
	.b-header__phone {
	    text-align: left;
	    padding-left: 10px;
	    margin-top: 20px;
	}
}


.i-orange {
	    color: #ff6c00;
}

.inner {
	padding-top: 40px;
	padding-bottom: 40px;
}

.inner-top {
	padding-top: 40px;
}

.b-feedGallery__item-inner {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.b-feedGallery {
	margin-bottom: 40px;
    margin-top: 40px;
    font-size: 14px;
}

.b-feedGallery__item {
    margin-left: 20px;
    margin-right: 20px;
}
.b-feedGallery__item-col_right {
    border: 3px solid #fff;
    padding: 1em 2em;
    font-size: 1.2em;
    line-height: 1.385;
    color: #fff;
    text-align: left;
}

.b-feedGallery__item-col {
    display: table-cell;
    vertical-align: middle;
}

.b-feedGallery__item-col_left {
    background: #fff;
    width: 32%;
    padding: 1.5em 1em;
    text-align: center;
    border: 0;
}

.b-person__name {
    font-size: 1.333em;
    font-weight: bold;
}

.b-person__post {
    line-height: 1.2;
}

.b-person__img {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: .5em;
}

.b-person__img img {
    width: 100%;
}
#feeds {
    background: #384145

    
}

#feeds h1 {
	color: #fff;
    }

#feeds .owl-page span {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    border: 3px solid #fff;
    border-radius: 0;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background-color: transparent;
}
#feeds  .owl-page {
    text-align: center;
    margin-top: 10px;
}



#feeds .owl-page.active > span {
    border-color: #3aa1c6;
    background-color: #3aa1c6;
}

#feeds .owl-page > span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: #fff;
    /* display: block; */
    content: "";
    margin: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#feeds .owl-pagination .owl-page.active > span:before {
    background: #3aa1c6;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}


#nav-tel  a {
	color: #106298;
	font-size: 18px;
}

#nav-tel  a .dk-blue {
	color: #3aa1c6
}

@media (max-width: 1198px) {
	#nav-tel {
		float: left;
	}

}
.pr-tableWrapper {
    overflow-x: auto;
    margin-top: 40px;
}
#priceTable {
    width: 100%;
    min-width: 900px;
    table-layout: fixed;
    border-spacing: 2px 2px;
    border-collapse: separate;
    
}

#priceTable td {
    padding: 10px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    -webkit-transition: border-color .3s ease-in;
    -moz-transition: border-color .3s ease-in;
    transition: border-color .3s ease-in;
    -moz-box-shadow: 0px 3px 8px -5px #000;
    -webkit-box-shadow: 0px 3px 8px -5px #000;
    box-shadow: 0px 3px 8px -5px #000;
    
}

.pr-label {
    font-weight: bold;
}

.pr-label--blue {
    color: #5ed4ff;
    font-size: .9em;
}
.pr-bold {
    font-size: 1em;
    font-weight: bold;
    
}

.pr-plus {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 20px;
    height: 20px;
    background: #5ed4ff;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    
}
#priceTable .pr-h {
    vertical-align: middle;
    background-color: #384145;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-color: #e2e2e2 !important;
}

#priceTable .pr-name {
    width: 250px;
    text-align: left;
    line-height: 1.385;
}

#priceTable .pr-btn {
    display: block;
    width: 100%;
    background-color: #3aa1c6;
    line-height: 1;
    padding: 12px 20px; 
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 15px/20px;
    -moz-border-radius: 15px/20px;
    border-radius: 15px/20px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    text-align: center;

    
}
#priceTable .pr-btn:hover {
        background-color: #126399;
    }
#priceTable .pr-btn--external {
    background-color: #B5386B;
}

#priceTable .pr-btn--external:hover {
    background-color: #b12960;
}